<form name="myForm" action="https://formspree.io/f/xrgdydod" method="post">
  <section class="block container block-form">
    <header class="block__header">
      <h2>Host on the Cloud </h2>
    </header>
    <div class="border-animation">
      <span class="form-span"></span>
      <div class="form__inputs-group">
        <div class="input-group">
          <span class="icon-container">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#clock"></use>
            </svg>
          </span>
          <input class="input" name="Name" type="text" placeholder="Name" required/>
        </div>


        <div class="input-group">
          <span class="icon-container">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#clock"></use>
            </svg>
          </span>
          <input class="input" name="Whatsapp Number" type="number" placeholder="Whatsapp Number" required/>
        </div>

            
        <div class="input-group">
          <span class="icon-container">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#clock"></use>
            </svg>
          </span>
          <div class="Gander__input">
            <label class="radio--style"><input class="input__radio" type="radio" name="Gender" id="Gender" value="Male" required/></label>
            <label class="input__radio-lable" for="meal1" >Male</label>
            <input class="input__radio"type="radio" name="Gender" id="Gender" value="Female"/>
            <label  class="input__radio-lable" for="meal2">Female</label>
          </div>
        </div>

        <div class="input-group">
          <span class="icon-container">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#clock"></use>
            </svg>
          </span>
          <input class="input" name="Age" type="number" placeholder="Age" required/>
        </div>

        <div class="input-group">
          <span class="icon-container">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#clock"></use>
            </svg>
          </span>
          <input class="input" name="Weight" type="number" placeholder="Weight" required/>
        </div>

        <div class="input-group">
          <span class="icon-container">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#clock"></use>
            </svg>
          </span>
          <input class="input" name="Height" type="number" placeholder="Height (Cm)" required/>
        </div>

        <div class="input-group">
          <span class="icon-container">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#clock"></use>
            </svg>
          </span>
          <input class="input" name="Neck (cm)" type="number" placeholder="Neck (Cm)" required/>
        </div>

        <div class="input-group">
          <span class="icon-container">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#clock"></use>
            </svg>
          </span>
          <input class="input" name="Waist (cm)" type="number" placeholder="Waist (Cm)" required/>
        </div>
      
        </div>
      </div>
    </div>
  </section>
</form>