<div class="input-group">
  <input type="text" class="input" placeholder="Enter domain name here..." />
  <button class="btn btn--accent">Search</button>
</div>


<div class="input-group">
  <span class="icon-container">
      <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#clock"></use>
        </svg>
  </span>
  <input class="input" type="text" placeholder="Enter Domain Name Here...">
</div>


<!-- question radio input -->
<div class="question--block">
  <span class="icon__question">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite3.svg#tagname"></use>
    </svg>
  </span>
  <p class="form__question">
  What is Your Gym Level ?
  </p>
  <div class="input-group-radio gym-level">
    <div class="flex radio-vertical gym-level">
      <div class="radio-margin">
        <input
          class="input__radio"
          type="radio"
          name="Gender"
          id="Gender"
          value="Male"
          required
        />
        <label class="input__radio-lable" for="meal1">Beginner</label>
      </div>
      <div class="radio-margin">
        <input
          class="input__radio"
          type="radio"
          name="Gender"
          id="Gender"
          value="Female"
        />
        <label class="input__radio-lable" for="meal2">Intermediate</label>
      </div>

      <div class="radio-margin">
        <input
          class="input__radio"
          type="radio"
          name="Gender"
          id="Gender"
          value="Female"
        />
        <label class="input__radio-lable" for="meal2">Advanced</label>
      </div>

    
    </div>
  </div>
</div>