<div class="question--block">
    <span class="icon__question">
      <svg class="icon icon--primary">
        <use xlink:href="images/sprite3.svg#tagname"></use>
      </svg>
    </span>
    <p class="form__question">
      How Many Meals Do You Want In This Program ?
    </p>
    <div class="input-group-radio">
      <div class="flex radio-inline">
        <div class="radio-margin-top">
          <input
            class="input__radio"
            type="radio"
            name="Gender"
            id="Gender"
            value="Male"
            required
          />
          <label class="input__radio-lable" for="meal1">3</label>
        </div>
        <div class="radio-margin-top">
          <input
            class="input__radio"
            type="radio"
            name="Gender"
            id="Gender"
            value="Female"
          />
          <label class="input__radio-lable" for="meal2">4</label>
        </div>

        <div class="radio-margin-top">
          <input
            class="input__radio"
            type="radio"
            name="Gender"
            id="Gender"
            value="Female"
          />
          <label class="input__radio-lable" for="meal2">5</label>
        </div>

        <div class="radio-margin-top">
          <input
            class="input__radio"
            type="radio"
            name="Gender"
            id="Gender"
            value="Female"
          />
          <label class="input__radio-lable" for="meal2">6</label>
        </div>

      </div>
    </div>
  </div>